@charset 'utf-8';

html {
  font-family: "Noto Sans KR", sans-serif;
  font-size: 14px;
}
body {
  overflow-x: hidden; /*가로스크롤이 안 생기도록(그냥은 세로)*/
  color: rgb(29, 29, 31);
  letter-spacing: -0.05em;
  background: white;
}
p {
  line-height: 1.6;
}
a {
  color: rgb(29, 29, 31);
  text-decoration: none;
}
/* load되는 중일때는 스크롤 금지 */
body.before-load {
  overflow: hidden;
}
.container {
  /* 휴대폰에서 가로스크롤 방지 */
  overflow-x: hidden;
}
.global-nav {
  /*yOffset과 scrollHeight가 메뉴만큼 차이가 나므로, 공간을 차지하지 않게*/
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%; /*position absolute때는 width를 100%해줘야*/
  height: 44px;
  padding: 0 1rem;
}
.local-nav {
  /*yOffset과 scrollHeight가 메뉴만큼 차이가 나므로, 공간을 차지하지 않게*/
  position: absolute;
  top: 45px;
  left: 0;
  z-index: 11;
  width: 100%; /*position absolute때는 width를 100%해줘야*/
  height: 52px;
  padding: 0 1rem;
  border-bottom: 1px solid #ddd;
}
.local-nav-sticky .local-nav {
  position: fixed;
  top: 0;
  background: rgba(255, 255, 255, 0.1);
  /* 아이폰에서 상단바 뿌옇게 */
  -webkit-backdrop-filter: saturate(180%) blur(15px);
  -moz-backdrop-filter: saturate(180%) blur(15px);
  -o-backdrop-filter: saturate(180%) blur(15px);
  backdrop-filter: saturate(180%) blur(15px);
}
.global-nav-links,
.local-nav-links {
  display: flex; /*가로배치*/
  align-items: center;
  max-width: 1000px;
  margin: 0 auto;
  height: 100%; /*부모높이 따라가기*/
}
.global-nav-links {
  justify-content: space-between;
}
.local-nav-links .product-name {
  margin-right: auto; /*가질수 있는 모든 범위를 가진다*/
  font-size: 1.4rem;
  font-weight: bold;
}
.local-nav-links a {
  font-size: 0.8rem;
}
.local-nav-links a:not(.product-name) {
  margin-left: 2em;
}
.scroll-section {
  padding-top: 50vh;
  position: relative; /*offsetTop값의 기준을 문서 맨 첨이 아니라, 부모section 맨첨으로 하기 위해*/
}
#scroll-section-0 h1 {
  /* sticky-elem은 absolute이므로 첫 load시 airmug pro가 뒤로 가게됨(static이니까) */
  position: relative;
  top: -10vh;
  z-index: 5;
  font-size: 4rem;
  text-align: center;
}
.main-message {
  display: flex;
  align-items: center;
  justify-content: center;
  top: 35vh;
  margin: 5px 0;
  height: 3em;
  font-size: 2.5rem;
  opacity: 0;
}
.main-message p {
  font-weight: bold;
  text-align: center;
  line-height: 1.2;
}
.main-message small {
  display: block;
  font-size: 1.2rem;
  margin-bottom: 0.5em;
}
#scroll-section-1 .main-message {
  font-size: 3.5rem;
}
.description {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 1rem;
  font-size: 1.2rem;
  color: #888;
}
.description strong {
  float: left;
  margin-right: 0.2em; /*14X3X0.2*/
  font-size: 3rem; /*14px 곱하기 3*/
  color: black;
}
.desc-message {
  width: 45%;
  font-weight: bold;
  opacity: 0;
}
.pin {
  width: 1px;
  height: 80px;
  background: black;
}
#scroll-section-2 .b {
  top: 15%;
  left: 30%;
}
#scroll-section-2 .c {
  top: 15%;
  left: 45%;
}
.mid-message {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 1rem;
  font-size: 2rem;
  color: #888;
}
.mid-message strong {
  color: black;
}
.canvas-caption {
  max-width: 1000px;
  margin: -24rem auto 0;
  padding: 0 1rem;
  color: #888;
  font-size: 1.2rem;
}
.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 7rem;
  color: white;
  background: darkorange;
}
.sticky-elem {
  display: none;
  position: fixed;

  left: 0;
  width: 90%;
}
/*해당되는 씬에서 해당되는 sticky-elem만 보여주기*/
#show-scene-0 #scroll-section-0 .sticky-elem,
#show-scene-1 #scroll-section-1 .sticky-elem,
#show-scene-2 #scroll-section-2 .sticky-elem,
#show-scene-3 #scroll-section-3 .sticky-elem {
  display: block;
  will-change: transform, opacity;
}
.sticky-elem-canvas {
  top: 0;
  height: 100%;
}
.sticky-elem-canvas canvas {
  position: absolute;
  /* 가운데 정렬을 위해 50% 밀어내고, JS에서 transform translate로 -50 -50 땡겨줄거임  */
  top: 50%;
  left: 50%;
}
.image-blend-canvas.sticky {
  position: fixed;
  /* top : 0; 원래 이미지를 기준으로top=0인데 스케일을 넣었기때문에 꼭대기붙지않음*/
  top: 0;
}

#scroll-section-3 {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.loading {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 100;
  background: white;
  opacity: 0;
  transition: 0.5s;
}
/* 스크롤 중간에 새로고침했을때의 오류 */
.before-load .container {
  display: none;
}
.before-load .loading {
  opacity: 1;
}

@keyframes loading-spin {
  100% {
    transform: rotate(360deg);
  }
}
@keyframes loading-circle-ani {
  0% {
    stroke-dashoffset: 157;
  }
  75% {
    stroke-dashoffset: -147;
  }
  100% {
    stroke-dashoffset: -157;
  }
}
.loading-circle {
  width: 54px;
  height: 54px;
  animation: loading-spin 3s infinite;
}
.loading-circle circle {
  stroke: black;
  stroke-width: 4;
  /* getTotalLength()로 stroke의 길이를 document.querySelector JS로 얻어올 수 있음 */
  stroke-dasharray: 157;
  stroke-dashoffset: 0;
  fill: transparent;
  animation: loading-circle-ani 1s infinite;
  /* transition: 1s; */
}
/* .loading-circle:hover circle {
	stroke-dashoffset: -157;
} */

.normal-content {
  margin-bottom: 10rem;
}

@media (min-width: 1024px) {
  #scroll-section-0 h1 {
    font-size: 9vw;
  }
  .main-message {
    font-size: 4vw;
  }
  .description {
    padding: 0;
    font-size: 2rem;
  }
  .description strong {
    font-size: 6rem;
  }
  #scroll-section-2 .main-message {
    font-size: 6vw;
  }
  .main-message small {
    font-size: 1.5vw;
  }
  .desc-message {
    width: 20%;
  }
  #scroll-section-2 .b {
    top: 5%;
    left: 53%;
  }
  #scroll-section-2 .c {
    left: 55%;
  }
  .mid-message {
    padding: 0;
    width: 1000px;
    font-size: 4vw; /*창크기의 4% 상대적인것*/
  }
  .canvas-caption {
    margin-top: -8rem;
    padding: 0;
    font-size: 2rem; /*절대적인것*/
  }
}

@media (min-width: 768px) {
  .desc-message {
    width: 35%;
  }
  #scroll-section-2 .b {
    top: 5%;
    left: 60%;
  }
  #scroll-section-2 .c {
    left: 55%;
  }
}

@media (min-width: 425px) {
  .desc-message {
    width: 50%;
  }
  #scroll-section-2 .b {
    top: 5%;
    left: 40%;
  }
  #scroll-section-2 .c {
    left: 50%;
  }
}
